.opeVirEm_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px 1px rgba(47,47,47,0.4);
  padding: 1rem;
  border-radius: 5px;
  margin: 0.7rem 1rem 1rem 1rem;
  border: 1px solid rgba(47,47,47,0.3);

  &_visu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    background-color: #EDEDED;
    width: 100%;
  }

  &_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;

    &_description {
      font-size: 0.8rem;
      font-weight: 700;
      width: 75%;
      color: #2F2F2F;
    }

    &_icon {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 1.9rem;
      height: 1.9rem;
      background-color: #009D77;
      padding: 2%;
      border-radius: 50px;

      &_arrowRight {
        position: absolute;
        right: 0%;
        width: 0.9rem;
      }
    }
  }

  &_right {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    &_price {
      color: #036F00;
      font-weight: 600;
      overflow-wrap: normal;
      white-space: nowrap;
    }

    &_icon {
      min-width: 1rem
    }
  }
}